@{
  Layout = "_Layout";
}

@model SweetShop.Models.Treat

<h4>Add a new treat</h4>
@using (Html.BeginForm())
{
  <div class="form-group">
    @Html.Label("Treat Name")
    @Html.TextBoxFor(model => model.TreatName)
  </div>
  <div class="form-group">
    @Html.Label("Select Flavor")
    @Html.DropDownList("FlavorId")
  </div>
    <input type="submit" value="Add new treat" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all treats", "Index")</p>